@charset "utf-8";
/* CSS Document */

.p1 {
  background: url("../imagens/bg-eng-texto1.jpg") repeat-x scroll center 0
    #131313;
}

.p2 {
  background: url("../imagens/bg-eng-texto2.jpg") repeat-x scroll center 0
    #131313;
}

.p3 {
  background: url("../imagens/bg-eng-texto3.jpg") repeat-x scroll center 0
    #131313;
}

.p4 {
  background: url("../imagens/bg-eng-texto4.jpg") repeat-x scroll center 0
    #131313;
}

.p5 {
  background: url("../imagens/bg-eng-texto5.jpg") repeat-x scroll center 0
    #131313;
}

#sobre h2 {
  margin-left: 15px;
}

#sobre p {
  width: 775px;
}

#outra-lingua {
  background: url("../imagens/bg-portugues.jpg") no-repeat scroll 0 0
    transparent;
  width: 69px;
}

.menu-item,
.dominio {
  transition: color 0.3s;
  cursor: pointer;
}

.menu-item:hover,
.dominio.hover {
  color: #e4e4e4;
}

#lista-jobs {
  display: flex;
  flex-wrap: wrap;
}

#lista-jobs > li {
  position: relative;
  border-left: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

#lista-jobs > li.last {
  border-right: 1px solid #919191;
}

.fade {
  transition: opacity 0.3s;
}

.link {
  cursor: pointer;
}

.link:hover .fade {
  opacity: 0;
}

.initial-line {
  height: 18px;
}
